<div class="row">
  <div class="left-margin col-md-10">
    <div class="row">
      <div class="col-md-1">
        <div><%=question.votes.length%></div>
        <div>votes</div>
      </div>
      <div class="col-md-1">
        <div><%=question.answers.length%></div>
        <div>answers</div>
      </div>
      <div class="col-md-1">
        <div><%=question.view_count%></div>
        <div>views</div>
      </div>

      <div class="col-md-8">
        <h4><%= link_to question.title, question %></h4>
        <% question.tags.each do |tag| %>
          <span class="pull-left field-margin"><%= render partial: "question_tag", locals: {tag: tag} %></span>
        <%end%>
        <span class="pull-right">asked <%= format_asked_time(question) %> <%= link_to question.user.username, question.user%></span>
      </div>

    </div>
  </div>
</div>
