<h1>Create a New Question!</h1>

<%= form_for @question do |f|  %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description, size: "40x5" %>
	<%= f.submit %>
<% end %>