<div class="profile">

	<div class="questions">
	<h2> Questions </h2>
		<ul>
			<% @user.questions.each do |question| %>
				<li><%= link_to question.title, question_path(question.id) %>
				<% if current_user %>

					<%= form_for(question, html: {method: :delete}) do |f|%>
						<%= f.submit "Delete Question", class: "btn btn-danger pull-right" %>
					<% end %></span>

 					<%= form_for(question, url: edit_question_path(question), method: "get") do |f|%>
						<%= f.submit "Edit Question", class: "btn btn-warning pull-right" %>
					<% end %>


			<% end %>
			</li>
			<% end %>

		</ul>
	</div>

	<div class="answers">
		<h2> Answers </h2>
		<ul>
			<% @user.answers.each do |answer| %>
				<li><%= link_to answer.description, question_answers_path(answer.question, answer) %></li>
			<% end %>
		</ul>
	</div>

<!-- this is the sum of all of your upvotes for anything -->
	<div class="reputation">
		<h2> Reputation </h2>
		<h4><%= @user.reputation %></h4>
	</div>
</div>

