

    <div class="col-md-offset-2 col-md-10 field-margin-top">
      <div class="col-md-1">
    <div ><%=button_to "+", question_answer_votes_path(question, answer, vote_value: 1, is_a: 1) %></div>
    <h2><%=answer.votes.length%></h2>
    <div ><%=button_to "-", question_answer_votes_path(question, answer, vote_value: -1, is_a: 1) %></div>
  </div>


              <div><%= answer.description %></div>
              <div>By: <%= answer.user.username %></div>

              <div>Votes:<%= answer.votes.count %></div>
              <div>Answered: <%= answer.created_at.strftime('%m-%d-%Y') %> at <%= answer.created_at.strftime(' %H:%M:%S') %></div>
              <%=render partial: 'answers/answer_form' ,locals: {answer:answer, question: question}%>

          </div>


  <!-- ADD COMMENTS -->

          <div class="col-md-offset-3 col-md-8 ">
            <%= link_to "Add Comment", new_question_answer_comment_path(answer.question, answer)%>
            <% answer.comments_desc.each do |comment|%>
              <%= render partial: "comments/show", locals: { comment: comment } %>
            <%end%>
          </div>
          <div class="field-margin-bottom">&nbsp;</div>
