


<h1> Answers </h1>
<% @question.answers.each do |answer| %>
 <div class="container">

      <%=link_to "+", new_question_answer_vote_path(question, answer, vote_value: 1)%>
      <%=link_to "-", new_question_answer_vote_path(question, answer, vote_value: -1) %>
      <p><%= answer.description %></p>
      <p>By: <%= answer.user.username %></p>

      <p>Votes:<%= answer.votes.count %></p>
      <p>Answered: <%= answer.created_at.strftime('%m-%d-%Y') %> at <%= answer.created_at.strftime(' %H:%M:%S') %></p>

      <% if current_user.id == answer.user_id %>
        <%= form_tag(question_answer_path(@question.id, answer.id), method: :put) do %>
          <%= text_area_tag :description %>
          <%= submit_tag "update" %>
        <% end %>

        <%= form_tag(question_answer_path(@question.id, answer.id), method: :delete) do |f| %>
          <%= submit_tag "delete" %>
        <% end %>

      <% end %>

  </div>

  <%= render partial: "comments/show", locals: { answer: answer } %>




  <% end %>




