

<% @question.answers.each do |answer| %>
 <div style="margin-top:50px">
    <%=link_to "+", new_question_answer_vote_path(question, answer, vote_value: 1)%>
  <%=link_to "-", new_question_answer_vote_path(question, answer, vote_value: -1) %>
  <p><%= answer.description %></p>
  <%= answer.user.username %>
  <%= answer.votes.count %>

  <% if current_user.id == answer.user_id %>
    <%= form_tag(question_answer_path(@question.id, answer.id), method: :put) do %>
      <%= text_area_tag :description %>
      <%= submit_tag "ssssupdate" %>
  <% end %>


  <% end %>

  <%= render partial: "comments/show", locals: { answer: answer } %>

  </div>


  <% end %>




