<div class="row">

<% @question.answers.each do |answer| %>
    <%=link_to "+", new_question_answer_vote_path(question, answer, vote_value: 1)%>
  <%=link_to "-", new_question_answer_vote_path(question, answer, vote_value: -1) %>
  <p><%= answer.description %></p>
  <%= answer.user.username %>
  <%= answer.votes.count %>
  <br>
  <br>



      <!-- ADD COMMENTS -->
    <div class="row">
      <div class="col-md-offset-4 col-md-8">
        <%= link_to "Add Comment", new_question_answer_comment_path(answer.question, answer)%>
        <% answer.comments_desc.each do |comment|%>
          <%= render partial: "comments/show", locals: { comment: comment } %>
        <%end%>
      </div>
    </div>

  <% end %>


</div>


